[submodule "vim/pack/aymeric/start/coc.nvim"]
	path = vim/pack/aymeric/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/pack/aymeric/start/gruvbox"]
	path = vim/pack/aymeric/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/pack/aymeric/start/ultisnips"]
	path = vim/pack/aymeric/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/pack/aymeric/start/undotree"]
	path = vim/pack/aymeric/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "vim/pack/aymeric/start/vim-airline"]
	path = vim/pack/aymeric/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/aymeric/start/vim-airline-themes"]
	path = vim/pack/aymeric/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/aymeric/start/vim-commentary"]
	path = vim/pack/aymeric/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/aymeric/start/vim-fugitive"]
	path = vim/pack/aymeric/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/aymeric/start/vim-surround"]
	path = vim/pack/aymeric/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/aymeric/start/vim-vinegar"]
	path = vim/pack/aymeric/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim/pack/aymeric/start/vim-lion"]
	path = vim/pack/aymeric/start/vim-lion
	url = https://github.com/tommcdo/vim-lion
[submodule "vim/pack/aymeric/start/vim-snippets"]
	path = vim/pack/aymeric/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/pack/aymeric/start/delimitmate"]
	path = vim/pack/aymeric/start/delimitmate
	url = https://github.com/raimondi/delimitmate
[submodule "vim/pack/aymeric/start/vim-ragtag"]
	path = vim/pack/aymeric/start/vim-ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule "vim/pack/aymeric/start/vim-go"]
	path = vim/pack/aymeric/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/pack/aymeric/start/vimtex"]
	path = vim/pack/aymeric/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/pack/aymeric/start/vim-gutentags"]
	path = vim/pack/aymeric/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "vim/pack/aymeric/start/vim-toml"]
	path = vim/pack/aymeric/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "vim/pack/aymeric/start/vim/pack/aymeric/start/arm-syntax-vim"]
	path = vim/pack/aymeric/start/vim/pack/aymeric/start/arm-syntax-vim
	url = https://github.com/ARM9/arm-syntax-vim
[submodule "vim/pack/aymeric/start/arm-syntax-vim"]
	path = vim/pack/aymeric/start/arm-syntax-vim
	url = https://github.com/ARM9/arm-syntax-vim
[submodule "vim/pack/aymeric/start/nvim-tree.lua"]
	path = vim/pack/aymeric/start/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "vim/pack/aymeric/start/bufferline.nvim"]
	path = vim/pack/aymeric/start/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim
[submodule "vim/pack/aymeric/start/telescope.nvim"]
	path = vim/pack/aymeric/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "vim/pack/aymeric/start/plenary.nvim"]
	path = vim/pack/aymeric/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "vim/pack/aymeric/start/nvim-cmp"]
	path = vim/pack/aymeric/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "vim/pack/aymeric/start/LuaSnip"]
	path = vim/pack/aymeric/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "vim/pack/aymeric/start/vim-eunuch"]
	path = vim/pack/aymeric/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
